In [98]:
import numpy as np
import pandas as pd
#from sklearn.cross_validation import train_test_split, use below instead
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score
from sklearn import tree
from sqlalchemy import create_engine
import seaborn as sns
from sklearn.metrics import accuracy_score
# Display preferences.
%matplotlib inline
pd.options.display.float_format = '{:.3f}'.format

import warnings
warnings.filterwarnings(action="ignore")

In [99]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'medicalcosts'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

md_df = pd.read_sql_query('select * from medicalcosts',con=engine)

# no need for an open connection, as we're only doing a single query
engine.dispose()

In [100]:
md_df.head()

   age     sex    bmi  children smoker     region   charges
0   19  female 27.900         0    yes  southwest 16884.900
1   18    male 33.770         1     no  southeast  1725.550
2   28    male 33.000         3     no  southeast  4449.460
3   33    male 22.705         0     no  northwest 21984.500
4   32    male 28.880         0     no  northwest  3866.860

In [101]:
total_missing = md_df.isnull().sum().sort_values(ascending=False)
percent_missing = (md_df.isnull().sum()/md_df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_missing], axis=1, keys=['Total', 'Percent'])
missing_data.head(10)

          Total  Percent
charges       0    0.000
region        0    0.000
smoker        0    0.000
children      0    0.000
bmi           0    0.000
sex           0    0.000
age           0    0.000

In [102]:
# no missing values

In [103]:
# in the past, we used is_male & is_smoker as features

In [104]:
md_df["is_male"]= pd.get_dummies(md_df.sex, drop_first = True)
md_df["is_smoker"]= pd.get_dummies(md_df.smoker, drop_first = True)

In [105]:
print(md_df["is_male"])

0       0
1       1
2       1
3       1
4       1
       ..
1333    1
1334    0
1335    0
1336    0
1337    0
Name: is_male, Length: 1338, dtype: uint8

In [106]:
print(md_df["is_smoker"])

0       1
1       0
2       0
3       0
4       0
       ..
1333    0
1334    0
1335    0
1336    0
1337    1
Name: is_smoker, Length: 1338, dtype: uint8

In [107]:
md_df.shape

(1338, 9)

In [108]:
md_df.head()

,age,sex,bmi,children,smoker,region,charges,is_male,is_smoker
0,19,female,27.900,0,yes,southwest,16884.900,0,1
1,18,male,33.770,1,no,southeast,1725.550,1,0
2,28,male,33.000,3,no,southeast,4449.460,1,0
3,33,male,22.705,0,no,northwest,21984.500,1,0
4,32,male,28.880,0,no,northwest,3866.860,1,0

In [109]:
# Implementation Process
# Separate the target variable
#X = md_df.values[:,8:9]
#Y = md_df.values[:,0]
X = md_df[["is_male", "is_smoker"]]
Y = md_df[["charges"]]

In [110]:
# Split the dataset into Test & Train
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.3, random_state = 100)

In [111]:
# Function to perform training 
#clf_entropy = DecisionTreeRegressor(criterion='entropy', random_state = 100, max_depth=3,min_samples_leaf=5)
clf = DecisionTreeRegressor( random_state = 100, max_depth=3, min_samples_leaf=5)
clf.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=3, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=5,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=100, splitter='best')

In [113]:
# Lets apply our prediction to above model
y_pred = clf.predict(X_test)
print(y_pred)

[ 8199.28903846  8805.72638462  8805.72638462  8805.72638462
 34152.04803922 30301.40375     8199.28903846  8199.28903846
 34152.04803922  8199.28903846  8199.28903846  8805.72638462
  8199.28903846  8199.28903846  8199.28903846 34152.04803922
  8805.72638462  8805.72638462  8199.28903846  8199.28903846
  8199.28903846  8199.28903846  8199.28903846 34152.04803922
  8805.72638462 30301.40375     8199.28903846 30301.40375
 30301.40375     8805.72638462  8805.72638462  8805.72638462
 30301.40375    34152.04803922  8199.28903846  8199.28903846
  8199.28903846 34152.04803922  8199.28903846 30301.40375
  8805.72638462  8805.72638462  8199.28903846  8805.72638462
  8805.72638462  8805.72638462  8805.72638462  8199.28903846
  8199.28903846  8805.72638462  8199.28903846  8805.72638462
  8199.28903846  8199.28903846  8805.72638462  8805.72638462
  8199.28903846 34152.04803922  8805.72638462  8199.28903846
  8805.72638462  8805.72638462  8199.28903846  8805.72638462
  8199.28903846  8805.72638462  8805.72638462  8805.72638462
  8199.28903846 30301.40375     8805.72638462  8805.72638462
  8199.28903846 34152.04803922  8805.72638462  8199.28903846
  8199.28903846 30301.40375     8199.28903846  8805.72638462
  8199.28903846  8199.28903846  8805.72638462  8805.72638462
 34152.04803922 30301.40375     8199.28903846 30301.40375
 34152.04803922  8805.72638462 34152.04803922  8805.72638462
  8805.72638462  8199.28903846 30301.40375     8199.28903846
  8199.28903846  8805.72638462 30301.40375     8199.28903846
  8199.28903846  8805.72638462  8199.28903846  8199.28903846
 34152.04803922  8805.72638462 34152.04803922 30301.40375
  8199.28903846  8199.28903846  8805.72638462  8199.28903846
  8805.72638462  8199.28903846 34152.04803922  8199.28903846
  8199.28903846  8199.28903846  8805.72638462  8805.72638462
 34152.04803922  8199.28903846  8805.72638462  8199.28903846
  8199.28903846 34152.04803922  8199.28903846  8805.72638462
  8199.28903846  8805.72638462  8805.72638462  8805.72638462
  8199.28903846  8805.72638462  8199.28903846 34152.04803922
  8805.72638462 34152.04803922  8199.28903846  8199.28903846
 34152.04803922  8199.28903846 34152.04803922  8805.72638462
  8199.28903846  8199.28903846  8199.28903846  8199.28903846
  8199.28903846  8805.72638462  8805.72638462  8805.72638462
  8805.72638462  8199.28903846  8805.72638462  8805.72638462
 34152.04803922  8805.72638462  8805.72638462 34152.04803922
  8199.28903846 34152.04803922 34152.04803922  8199.28903846
  8805.72638462  8199.28903846  8199.28903846  8199.28903846
  8805.72638462  8805.72638462 34152.04803922 30301.40375
  8805.72638462 34152.04803922  8199.28903846  8805.72638462
  8199.28903846 34152.04803922  8805.72638462  8805.72638462
 30301.40375    30301.40375    34152.04803922  8199.28903846
  8199.28903846 34152.04803922 34152.04803922  8199.28903846
  8199.28903846  8805.72638462  8199.28903846  8805.72638462
  8805.72638462  8199.28903846  8199.28903846  8805.72638462
 30301.40375    34152.04803922  8199.28903846  8199.28903846
  8199.28903846  8199.28903846  8199.28903846  8805.72638462
 34152.04803922 34152.04803922  8805.72638462 34152.04803922
  8805.72638462 30301.40375     8805.72638462  8199.28903846
 34152.04803922 30301.40375     8199.28903846  8805.72638462
  8199.28903846  8199.28903846  8199.28903846  8805.72638462
  8805.72638462  8805.72638462  8199.28903846  8805.72638462
  8805.72638462 34152.04803922  8805.72638462  8199.28903846
  8805.72638462  8199.28903846  8805.72638462 34152.04803922
 34152.04803922  8805.72638462  8199.28903846 30301.40375
  8805.72638462  8199.28903846  8805.72638462  8199.28903846
  8199.28903846  8805.72638462  8805.72638462 34152.04803922
  8805.72638462  8805.72638462  8199.28903846  8805.72638462
  8199.28903846  8199.28903846  8805.72638462  8805.72638462
  8805.72638462  8199.28903846  8805.72638462 30301.40375
  8199.28903846  8805.72638462 34152.04803922  8199.28903846
  8805.72638462 34152.04803922  8805.72638462  8199.28903846
 30301.40375     8805.72638462  8805.72638462  8199.28903846
 30301.40375     8805.72638462  8805.72638462  8805.72638462
  8805.72638462  8805.72638462 34152.04803922  8805.72638462
  8805.72638462  8199.28903846 34152.04803922  8805.72638462
  8199.28903846  8199.28903846  8805.72638462  8199.28903846
  8805.72638462 34152.04803922  8805.72638462  8805.72638462
  8199.28903846  8805.72638462  8805.72638462  8805.72638462
  8199.28903846  8199.28903846  8199.28903846  8199.28903846
  8805.72638462  8805.72638462  8805.72638462 34152.04803922
  8805.72638462  8199.28903846  8805.72638462  8199.28903846
  8199.28903846 34152.04803922  8805.72638462  8199.28903846
  8199.28903846 34152.04803922  8199.28903846 30301.40375
  8805.72638462  8199.28903846  8805.72638462  8805.72638462
 34152.04803922  8805.72638462  8805.72638462  8199.28903846
  8199.28903846 34152.04803922  8805.72638462 34152.04803922
  8199.28903846  8199.28903846 30301.40375     8805.72638462
 30301.40375     8805.72638462  8199.28903846  8805.72638462
 30301.40375     8199.28903846  8199.28903846  8805.72638462
  8199.28903846  8199.28903846  8199.28903846 30301.40375
  8199.28903846  8805.72638462  8805.72638462  8805.72638462
 30301.40375     8805.72638462  8805.72638462  8805.72638462
  8805.72638462  8805.72638462  8199.28903846  8805.72638462
  8199.28903846  8805.72638462  8805.72638462 30301.40375
  8199.28903846 34152.04803922  8199.28903846  8805.72638462
 30301.40375    30301.40375     8199.28903846 30301.40375
  8199.28903846  8805.72638462  8805.72638462  8199.28903846
  8805.72638462  8199.28903846 34152.04803922  8199.28903846
 34152.04803922  8805.72638462  8199.28903846  8199.28903846
  8805.72638462  8199.28903846 34152.04803922  8199.28903846
 34152.04803922  8199.28903846  8199.28903846  8805.72638462
  8199.28903846  8805.72638462 34152.04803922  8805.72638462
  8199.28903846 34152.04803922  8805.72638462  8805.72638462
 30301.40375     8199.28903846  8805.72638462  8805.72638462
 30301.40375     8199.28903846  8199.28903846  8805.72638462
  8199.28903846  8805.72638462]

In [114]:
y_test.head()

      charges
12   1826.840
306 20177.700
318  7421.190
815  1877.930
157 15518.200

In [115]:
y_pred.size

402

In [116]:
# Checking accuracy
print("Accuracy is " , accuracy_score(y_test, y_pred)* 100)

ValueError: continuous is not supported